{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="col-lg-6 col-lg-push-3">
            {% if user.is_authenticated %}
                <h2>Before you edit, Please Fill this form</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            {% else %}
                <h2>Please, <br> <a href="{% url 'account_login' %}">LogIn</a> or <a href="{% url 'account_signup' %}">Signup</a> to create your Theme</h2>
            {% endif %}
        </div>

    </div>
{% endblock %}
