{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>Feedback Form</h1>
        <div class="col-lg-12">
            {% if user.is_authenticated %}
                <h3 style="padding-bottom: 30px;">Request us Theme you wish or Thank Us ❤️ </h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
            {% else %}
                    <h2>Please, <br> <a href="{% url 'account_login' %}">LogIn</a> or <a href="{% url 'account_signup' %}">Signup</a> to feedback us !</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}